@use "../../assets/scss/variables";

.dark--sidenav {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    align-items: baseline;
    height: 220px;

    .sidenav--title {
        margin: 20px;
        min-width: 180px;
        text-align: center;
        color: variables.$white-color;
    }
    
    .sidenav--title h2 {
        font-size: 20px;
    }
    
    .sidenav--title p {
        font-size: 14px;
    }
}

.light--sidenav {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    align-items: baseline;
    height: 220px;
    
    .sidenav--title {
        margin: 20px;
        min-width: 180px;
        text-align: center;
    }
    
    .sidenav--title h2 {
        font-size: 20px;
    }
    
    .sidenav--title p {
        font-size: 14px;
    }
}